<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Samba.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- Entity Framework 6 Tanımlaması -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <!-- 1. EKLENEN KISIM: SQL Server 2022 (HP\SQLEXPRESS) Bağlantı Adresin -->
  <connectionStrings>
    <add name="SambaContext" connectionString="Data Source=HP\SQLEXPRESS; Initial Catalog=SambaPOS3; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <userSettings>
    <Samba.Presentation.Properties.Settings>
      <setting name="VCHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="VCWidth" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ShellHeight" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="ShellWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="SGHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SGWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PEHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="PEWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="LSHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="LSWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="KeyboardHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardLeft" serializeAs="String">
        <value>0</value>
      </setting>
    </Samba.Presentation.Properties.Settings>
  </userSettings>

  <!-- 2. GÜNCELLENEN KISIM: EF6 uyumluluğu için Profile=Client kaldırılıp v4.5 yapıldı -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <!-- 3. GÜNCELLENEN KISIM: Eski 4.4.0.0 yönlendirmesi 6.0.0.0'a çekildi -->
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <!-- 4. EKLENEN KISIM: SQL Compact arayışını bitirip standart SQL Server'a yönlendiren fabrika ayarı -->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>